<%= form_with(model: friend, local: true) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col">
    <%= form.text_field :first_name , class:"form-control", placeholder: "First name" %>
    </div>
    <div class="col">
       <%= form.text_field :last_name , class:"form-control", placeholder: "Last name" %>
    </div>
  </div>
<br>
  <div class="field">
    <%= form.text_field :email , class:"form-control", placeholder: "Email Address"%>
  </div>
<br>

  <div class="field">
 
    <%= form.text_field :phone, class:"form-control", placeholder: "Phone Number" %>
  </div>
<br>

  <div class="field">

    <%= form.text_field :twritter , class:"form-control", placeholder: "Twitter"%>
  </div>
<br>

<div class="field">

    <%= form.text_field :model_id, id: :friend_user_id , class:"form-control", value: current_model.id , type: :hidden%>
  </div>

<br>

  <div class="actions">
    <%= form.submit class: "btn btn-secondary"%>
    
  </div>
<% end %>
