
  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-outline mb-4">
   
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control", placeholder: "Email" %>
  </div>

  <div class="form-outline mb-4">
   
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control form-control", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? %>
      <div class="form-check d-flex justify-content-start mb-4">
      <%= f.check_box :remember_me, class:"form-check-label"%>
      <%= f.label :remember_me, class:"form-check-label"%>
    </div>
  <% end %>

  <div class="actions">
    <!-- You don't have to put a comma with f.submit if there's no text. But in this case, there is a text so we put comma.-->
    <%= f.submit "Log in", class:"btn btn-secondary btn-lg btn-block" %>
  </div>
  <div>
<%= f.label :Dont_have_an_account? %>
<%= render "devise/shared/links" %>
  </div>
<% end %>

</div></div></div></div></div>